{% extends '../base.html' %}
{% block content %}
{% load crispy_forms_tags %}

          <div class="col-md-6 offset-md-3">
            <form method="POST" class="post-form">
              {% csrf_token %}
            <div class="card">
              <h5 class="card-header">Login</h5>
              <div class="card-body">
                <p class="card-text">{{form|crispy }}</p>
                <button type="submit" class="btn btn-primary">Entrar</button>
              </div>
            </div>
              </form>
          </div>
{% endblock %}
