{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={% static "toroku/bootstrap.min.css" %} integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href={% static "toroku/narrow-jumbotron.css"  %} rel="stylesheet">
    <title>{% block title %}Toroku{% endblock %}</title>
  </head>
  <body>
    <div class="container">

      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <p class="nav-link" href="#">Olá, {{user.username}}</p>
            </li>
            <li class="nav-item">
               <a class="nav-link " href="{% url 'logout' %}">Sair</a>
            </li>
            {% endif %}
          </ul>
        </nav>
        <h3 class="text-muted">Toroku</h3>
      </div>

      {% block content %}
       {% endblock %}

    </div>


    <script src={% static "toroku/jquery-3.2.1.slim.min.js" %} integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src={% static "toroku/popper.min.js" %} integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src={% static "toroku/bootstrap.min.js" %} integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
