{% extends '../base.html' %}
{% block content %}

<div class="jumbotron">
  <h1 class="display-3">Body Style</h1>
  <p class="lead">Sistema para cadastro de visitantes!</p>
  {% if user.is_authenticated %}
  <p><a class="btn btn-lg btn-success" href="{% url 'cadastro:cadastro' %}" role="button">Cadastro</a></p>
  {% else %}
  <p><a class="btn btn-lg btn-success" href="{% url 'login' %}" role="button">Login</a></p>
  {% endif %}
</div>
<footer class="footer">
        <p>Desenvolvido por @felipeiasi</p>
      </footer>
{% endblock %}
